html {
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 120px;
  background-color: #222d35;
  position: fixed;
  z-index: 100;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(public/img/slider-cross-bg.png);
  background-attachment: scroll;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 250px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  list-style: none;
}

.list a {
  text-decoration: none;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.list a:hover {
  color: #1face1;
  transition: 0.5s;
}

.list_bottom {
  border-width: medium;
  border-style: solid;
  border-color: #1face1;
  padding: 2px 30px;
}

.list_bottom a {
  text-decoration: none;
  color: #1face1;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.list_bottom:hover {
  background-color: #1face1;
  transition: 0.5s;
  color: white;
}
.list_bottom a:hover {
  color: white;
}

.background_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  background-image: url("public/img/slider01-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container_titles {
  margin: 250px;
  width: 900px;
  height: 400px;
}
.title_container_1 {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 8px;
}

.title_container_2 {
  line-height: 94px;
  font-weight: 700;
  font-size: 94px;
  color: rgb(31, 172, 225);
}
.title_container_3 {
  line-height: 94px;
  font-weight: 700;
  font-size: 94px;
  color: #fff;
}

.facebook_icon {
  padding: 10px;
  margin: 50px;
  width: 20px;
  height: 20px;
  border: 1px solid #485158;
  border-radius: 100%;
}

.container_contact {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact_item {
  padding: 15px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
}

.contact_text {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.container_more {
  display: flex;
  align-items: center;
  height: 180px;
  width: 1300px;
  margin-left: auto;
  margin-top: -100px;
  background-color: #1face1;
}
@media (max-width: 1440px) {
  .container_more {
    width: 1000px;
  }
}

.address_gym_1 {
  margin: 0 120px;
  font-family: "Rajdhani";
  font-size: 20px;
  color: white;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .address_gym_1 {
    margin: 0 80px;
  }
}

.address_gym_2 {
  font-family: "Rajdhani";
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.header_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  background-color: #222d35;
}

.personal_container {
  width: 400px;
  height: 400px;
}

.personal_container_background {
  font-size: 60px;
  font-weight: 600;
  color: #364754;
}

.personal_container_title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.personal_container_subtitle {
  color: #1face1;
  text-transform: uppercase;
  text-decoration: none;
}

.personal_container_icon {
  height: 50px;
  width: 50px;
}
.personal_header {
  display: flex;
  align-items: center;
}

.personal_container_header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: -85px;
}
.gray_border_line {
  height: 1px;
  width: 380px;
  background-color: #646c71;
}

.text_container {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.foolter_container {
  height: 80px;
}

.read_more_container_link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.4rem;
  color: white;
  text-decoration: none;
}
.read_more_container_link:hover {
  color: #1face1;
}

.more_fitness {
  width: 400px;
  height: 400px;
  color: azure;
}

.color_background {
  background-color: #222d35;
}
.why_choose {
  display: flex;
}

.why_choose_container {
  width: 500px;
  margin: 100px 100px 50px 400px;
}
@media (max-width: 1440px) {
  .why_choose_container {
    margin: 100px;
  }
}

.why_choose_container_title_h2 {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 3px;
  color: #1face1;
}
.custom_underline {
  display: flex;
  padding-bottom: 10px;
}
.light_blue_border {
  background-color: #1face1;
  width: 40px;
  height: 2px;
  margin-right: 3px;
}
.dark_blue_border {
  width: 15px;
  height: 2px;
  background-color: #206b8a;
}

.why_choose_container_title_h4 {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 1px;
  color: #222d35;
}

.why_choose_container_text {
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  color: #646c71;
}

.container_list_items {
  width: 100%;
  height: 10px;
  list-style-type: none;
  display: block;
  float: right;
  margin-right: 10px;
}

.container_text {
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #646c71;
  padding-bottom: 70px;
}

.container_touch {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #222d35;
  width: 70%;
  margin-top: 50px;
}
.container_touch:hover {
  background-color: #1face1;
  transition: 0.5s;
}
.container_touch_text {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  color: white;
}

.why_choose_container_image {
  margin: 100px 0 200px 0;
  height: 600px;
}

.personal_training {
  display: flex;
  flex-direction: row;
  background-color: #222d35;
  width: 100%;
  height: 700px;
}
.personal_training_img_girl {
  position: relative;
  top: -100px;
  right: 100px;
  width: 600px;
  height: 800px;
  background-image: url(public/img/Image12.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.personal_training_container {
  margin: 50px;
  height: 600px;
}

.personal_training_header {
  display: flex;
  justify-content: space-between;
}

.personal_training_container_title_h4 {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  padding-bottom: 20px;
  color: #1face1;
}
.personal_training_container_title_h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 20px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: #fff;
}

.personal_training_card_container {
  width: 900px;
  height: 500px;
}

.post-wrapper {
  margin: 0px auto;
  overflow: hidden;
}

.post-wrapper .post {
  margin: 0px 10px;
  display: inline-block;
  border: #646c71 solid 1px;
}

.post-slider .post-wrapper .img {
  width: 280px;
  height: 200px;
}

.botton-left {
  height: 50px;
  width: 50px;
  border: #646c71 solid 1px;
  background-color: #222d35;
  cursor: pointer;
}

.botton-right {
  height: 50px;
  width: 50px;
  border: #646c71 solid 1px;
  background-color: #222d35;
  cursor: pointer;
}
.personal_training_box_icon {
  position: relative;
  top: -25px;
  right: -120px;
  width: 50px;
  height: 50px;
  background-color: #1face1;
}
.personal_training_box_icon_i {
  position: relative;
  left: 10px;
  top: 5px;
}

.personal_training_box_texts {
  text-align: center;
}

.personal_training_box_title_h2 {
  font-weight: 600px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
.personal_training_box_title_h2:hover {
  color: #1face1;
  transition: 0.5s;
}

.personal_training_box_title_h3 {
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-weight: 300px;
  font-size: 16px;
  line-height: 1.8;
  color: #b7b8b9;
}

.personal_training_description {
  padding: 10px;
}

.personal_training_card_read_more {
  padding: 10px;
}
.personal_training_box_arrow_right {
  width: 80px;
  height: 40px;
  color: #1face1;
}

.read_more_container_link_cards {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.4rem;
  color: #1face1;
  text-decoration: none;
  padding-bottom: 10px;
}
.read_more_container_link_cards:hover {
  color: white;
  transition: 0.5s;
}

.foolter_container_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonials_container {
  display: flex;
  background-color: #222d35;
  margin: 50px 0 0 18%;
  padding: 40px 0;
}
.testimonials_container_titles {
  padding: 60px;
}
.testimonials_container_titles_h4 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: #1face1;
  margin-bottom: 15px;
}
.testimonials_container_titles_h2 {
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
}

.testimonials_carousel_container {
  width: 950px;
  height: 300px;
  border: #1face1 1px solid;
}

.testimonials_carousel_container_items {
  overflow: hidden;
}

.testimonials_carousel_container_items .item {
  margin: 0px 10px;
  display: inline-block;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 10px;
}

.slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px white solid;
  background-color: #222d35;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: white;
}

.testimonials_carousel_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 25px;
}
.testimonials_carousel_header_testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials_carousel_header_user {
  display: flex;
  align-items: center;
}

.testimonials_name_item {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.testimonials_profession_item {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #1face1;
  margin-top: 5px;
}

.testimonials_text_item {
  padding-right: 80px;
  font-size: 20px;
  line-height: 160%;
  font-weight: 500;
  text-transform: uppercase;
  color: #b7b8b9;
}
.giant_quotes {
  color: #1face1;
  font-size: 64px;
}
.five_stars_container {
  height: 80px;
  width: 80px;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  background-color: white;
  width: 10px;
  height: 10px;
  display: inline-flex;
  margin-right: 10px;
}

.FAQ_container {
  margin: 40px 20px;
}

.FAQ_text_h3 {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 3px;
  color: #1face1;
}

.FAQ_container_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FAQ_text_h4 {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 1px;
  color: #222d35;
}

.FAQ_text {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #646c71;
  text-align: center;
}

.FAQ_questions {
  margin: 40px 300px;
}

.wrapper_faq {
  max-width: 800px;
  margin: 0 auto;
}
.list-item_faq {
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(50, 50, 90, 0.1);
}

.faq-title {
  cursor: pointer;
  padding: 20px 20px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: gray;
}

.faq-title::before {
  content: "+";
  display: inline-block;
  height: 12px;
  font-size: 35px;
  width: 60px;
  margin-right: 10px;
}

.faq-text {
  padding: 10px;
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: 300;
  display: none;
  line-height: 2em;
  color: #646c71;
}

.trigger-input {
  display: none;
}

.trigger-input:checked + .trigger-wrapper_faq .faq-text {
  display: block;
}

.footers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222d35;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(public/img/slider-cross-bg.png);
}

.fist_foolter_img {
  width: 200px;
  height: 50px;
  padding: 50px;
}
.fist_foolter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gray_border {
  background-color: #646c71;
  width: 1000px;
  height: 2px;
}

.second_foolter {
  margin: 30px;
  display: flex;
  width: 1000px;

  align-items: center;
}
.second_foolter_copyright {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 30px;
  margin-right: 100px;
}
.second_foolter_copyright a {
  padding-left: 4px;
  color: white;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}
.second_foolter_copyright a:hover {
  color: #1face1;
  transition: 0.5s;
}

.second_foolter_email {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
  margin-right: 180px;
}
.second_foolter_email:hover {
  color: #1face1;
  transition: 0.5s;
}

.second_foolter_telephone {
  color: white;
  font-size: 16px;
  line-height: 30px;
}

#link-top {
  text-decoration: none;
  font-size: 20px;
  background-color: #1face1;
  border-radius: 50%;
  padding: 15px 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 3px 10px 10px #333;
}
